{% extends "base.html" %}

{% block title %}
About
{% endblock title %}
{% block body %}
<div class="container-fluid mx-0 px-0">
<img src="/static/img/aboutus1.jpg" class="d-block w-100 mx-0" height="754" alt="..." data-was-processed="true">
</div>
<div class="container">
<h1 class="text-center my-4">About Us</h1>
<p>The 'Ice cream Shop' is a retail establishment that specializes in selling a variety of ice cream flavors and related frozen treats to customers. These shops are popular destinations for people of all ages looking to enjoy a sweet and refreshing dessert. Here are some key features and aspects typically associated with us:<br><br>
    Ice Cream Selection: Ice cream shops offer a wide range of ice cream flavors, ranging from classic options like vanilla and chocolate to unique and inventive flavors such as salted caramel, mint chocolate chip, and fruit-based varieties.<br>
    Toppings and Mix-Ins: Many ice cream shops provide a selection of toppings and mix-ins, allowing customers to customize their ice cream. Common toppings include hot fudge, sprinkles, whipped cream, nuts, and fruit. Mix-ins might include cookie dough, brownie bits, or candy pieces.<br>
    Waffle Cones and Bowls: Customers can choose to have their ice cream served in a traditional sugar cone, a waffle cone, or a cup or bowl, depending on their preference.<br>
    Specialty Desserts: Some ice cream shops offer specialty desserts like sundaes, banana splits, milkshakes, and ice cream sandwiches.<br>
    Seasonal and Limited-Time Flavors: Many ice cream shops introduce seasonal flavors and limited-time offerings to keep their menu fresh and exciting for customers.<br>
    Family-Friendly Environment: Ice cream shops often provide a family-friendly atmosphere, making them popular places for outings with friends and family.<br>
    Ice Cream Parlor Decor: The interior of an ice cream shop is usually decorated in a fun and inviting manner, with colorful signage, retro elements, and sometimes vintage ice cream parlor furniture.<br>
    Community Engagement: Some ice cream shops engage with their local communities by hosting events, fundraisers, or partnering with schools and organizations.<br>
    Artisanal and Premium Options: In recent years, there has been a trend toward artisanal and premium ice cream shops that focus on high-quality ingredients and unique flavors.<br>
    Dietary Options: Many ice cream shops offer dairy-free and low-sugar options to accommodate customers with dietary restrictions or preferences.<br><br>
    
    Overall, ice cream shops provide a delightful experience for those seeking a tasty and enjoyable dessert, making them a popular choice for people looking to satisfy their sweet tooth.
    </p>
</div>
{% endblock body %}